* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 200vh;
}
.link-list {
  display: inline !important;
  margin-top: 2rem;
}

@media (min-width: 1014px) {
  .hamburguer-button {
    display: none !important ;
  }
}

@media (max-width: 1014px) {
  .link-list {
    display: none !important;
  }
  .logo-container {
    overflow: hidden !important;
    padding-left: 0 !important;
    display: flex !important;
    justify-content: center !important;
    
  }
}

.link-matricula {
  text-decoration: none !important;
}

.links-navbar {
  display: inline !important;
  text-decoration: none !important;
  width: 100% !important;
}

.links-navbar {
  position: relative;
}
.links-navbar:hover:after {
  content: url(./assets/hover-navbar/planta-navbar.svg);
  display: block;
  position: absolute;
  left: -45px;
  top: -15px;
}

.links-navbar-mobile{
  position: relative;
  text-decoration: none !important;
}


.links-navbar-mobile:hover:after {
  content: url(./assets/hover-navbar/planta-navbar.svg);
  display: block;
  position: absolute;
  left: -45px;
  top: -1px;
}